# Env
.env
.env.*
*.local

# Vitual envi
.venv/
venv/

# py
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# TanStack
node_modules
.DS_Store
dist
dist-ssr
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*

# Others
.claude
